<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Twittex" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <div id="sidebar" class="inline-block w-1/5">
      <ul class="list-none text-right">
        <%= if @current_user do %>
          <li><b><%= @current_user.username %></b></li>
          <li><.link href={~p"/#{@current_user.username}"}>My profile</.link></li>
          <li><.link href={~p"/users/settings"}>Settings</.link></li>
          <li><.link href={~p"/users/log_out"} method="delete">Log out</.link></li>
        <% else %>
          <li><.link href={~p"/users/register"}>Register</.link></li>
          <li><.link href={~p"/users/log_in"}>Log in</.link></li>
        <% end %>
      </ul>
    </div>
    <div class="inline-block ml-8 align-top">
      <%= @inner_content %>
    </div>
  </body>
</html>
